<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{ url_for('static', filename='Style2.css') }}">
    <title>Dynamic Stock Chart</title>
    <style>
        canvas {
            width: 100%;
            max-width: 50%; /* Ширина канваса */
            height: 400px; /* Высота канваса */
        }
        #info {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class = "game">
        <canvas id="stockChart"></canvas>
        <div class="info">
            <h3 id="yourMoney">Ваши деньги: $1500.00</h3>
            <h3 id="currentRate">Текущий курс: $1500.00</h3>
            <h3 id="EmilCoin">EmilCoin: 0</h3>

        </div>

        <div class="buy">Купить</div>
        <div class="sale">Продать</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script1.js') }}"></script>

</body>
</html>